.unpacked-boot-image-view {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.unpacked-boot-image-view .card-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: stretch;
}

.info-card {
  flex: 1 1 150px;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.info-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.info-card-spacer {
  flex-grow: 1;
}

.selectable-compound-tag {
  flex-grow: 1;
}

.selectable-compound-tag-select {
  font-size: 12px;
}

.binary-part-card {
  flex: 1 1 150px;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.binary-part-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.binary-part-header-content {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.file-input-rtl .bp5-file-upload-input {
  text-overflow: ellipsis;
  direction: rtl;
  text-align: left;
}

.cmdline-container {
  padding: 5px;
}

.cmdline-card {
  gap: 10px;
  padding: 10px;
}

.cmdline-card-content {
  display: flex;
  flex-wrap: wrap;
}

.advanced-offsets-container {
  margin: 10px;
}

.cmdline-editable-text {
  width: 100%;
}